{% extends 'base.html'%}
{%block content%}

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text">Welcome to 23 tales </h5>
      <h2 class="card-title h2 my-4 py-2"> 23-Tales</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">They say life begind at 40..hahaha..Did they skip 23??.. COz daamn i sure think that is where life  just takes a turn. So anyway, welcome to my blog, 23 tales,stories of the ups and downs and all.</p>
      <a href="/subscribe" class="btn peach-gradient">Subscribe</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->
{%endblock%}
