{% extends 'base.html'%}
{%block content%}

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/nature.jpeg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text">Welcome to Tales </h5>
      <h2 class="card-title h2 my-4 py-2"> TALES</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Tales on our day to day experiences</p>
      <a href="/subscribe" class="btn peach-gradient">Subscribe</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->
{%endblock%}
